@charset "utf-8";

h1 {
    color:aqua;
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {color:darkseagreen;
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}

ul {
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  color: aquamarine;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3{ color: aquamarine;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}




